*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    list-style: none;
    width: 200px;
    margin: 0px;
    padding: 0px;
}

ul li{
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-color:grey ;
    transition: all 0.2s;
}
ul li:first-child{
    border-top: 2px solid black;
}
ul li:hover{
    cursor: pointer;
    background-color: antiquewhite;
    font-size: 20px;
    transform: scale(1.1);
    border-top: 2px solid black;
    box-shadow: 3px 3px 3px rgb(186, 181, 128);
}
ul.menu{
    width: 100%;
    float: left;
    border: none;
}
ul.menu li{
    float: left;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-right: 0px;
}
ul.menu li:last-child{
    border-right: 2px solid black;
}
ul.menu li:hover{
    border-right: 2px solid black;
}
@media (max-width: 350px){
    ul.menu{
        width: 200px;
        float: none;
    }
    ul.menu li{
        float: none;
    }
    ul.menu li:first-child{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    ul.menu li:last-child{
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}